/* Global css */

h2 {
    font: Helvetica, "Times New Roman", sans-serif;
    font-size: 34px;
    color: deepskyblue;
    background-color: azure;
}

/* Exercices 1 and 2 */

/*div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    text-decoration: bold;
}*/
.odd {
    background-color: rgb(235, 132, 132);
    font: Verdana, DejaVu Sans, sans-serif;
}
.odd.third{
    font-size: 24px;
}
#two {
    color: rgb(0,0,255);
    font-size: 36px;
}
#fourth {
    background-color: #008000;
    font-size: 24px;
    text-decoration: bold;
}

/* Exercice 3 */

.first-element {
    background-color: black;
    color: white;
}
.second-element {
    background-color: #ffff00;
    color: black;
}
.both {
    font-size: 28px;
    font: Helvetica, "Times New Roman", sans-serif;
    float: left;
    padding: 5px;
    border: solid 3px grey; 
    margin: 3px;
}

/* Exercice 4 */

.avatar.proportioned {
    height: auto;
    width: 300px;
}
.avatar.distorted {
    height: 400px;
    width: 200px;
}
